/* ------------------ BODY ---------------------- */

body {
    background-image: url('gameteca.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000;
    color: #FAFAFA; 
}

.container.retro {
    color: #FAFAFA;
    font-family: 'Montserrat', sans-serif;
}

/* ------------------ BOTÕES ---------------------- */

/* BUTTON CADASTRAR*/
.btnRegister {
    --b: 3px;  
    --s: .45em;
    --color: #373B44;

    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background:
        conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
        var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 16px;

    border: 0;

    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    }

    .btnRegister:hover,
    .btnRegister:focus-visible{
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
    }

    .btnRegister:active {
    background: var(--color);
    color: #FAFAFA;
    }

/* MODAL -> BUTTON FECHAR E SALVAR */

.button-close,
.button-close:after {
width: 92px; 
height: 38px;
line-height: 39px;
font-size: 10px; 
font-family: 'Montserrat', sans-serif;
background: linear-gradient(45deg, transparent 5%, #444E57 5%);
border: 0;
color: #FAFAFA;
letter-spacing: 3px;
box-shadow: 3px 3px 0px #FD6F18;
outline: transparent;
position: relative;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
}  

.button-close:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: 'ERROR ERROR ERROR';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #444E57 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

.button-close:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  .button-close,
  .button-close:after {
    width: 100px;
    height: 43px;
    line-height: 44px;
  }
}

/* TABELA ->  BUTTON EDITAR E DELETAR*/

.btnEdit, .btnDelete {
    align-self: center;
    background-color: #fafafa;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 5px; 
    border-style: solid;
    border-width: 1px; 
    box-shadow: rgba(0, 0, 0, .2) 5px 5px 5px -5px; 
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: inline-block;
    font-family: Neucha, sans-serif;
    font-size: 0.8rem; 
    line-height: 1; 
    outline: none;
    padding: 5px 10px; 
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 5px; 
    border-bottom-right-radius: 5px; 
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px; 
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-right: 10px; 
  }
  
  
  .btnEdit:hover, .btnDelete:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
  }
  
  .btnEdit:focus, .btnDelete:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
  }
  
/* ------------------ TABELA ---------------------- */

.table.retro-table {
    width: 90%;
    margin: auto;
    border-collapse: collapse;
    color: #0ff;
}

.table.retro-table th, .table.retro-table td {
    border: hidden;
    padding: 10px;
    text-align: center;
    background-color: 0%;
    border-radius: 10px;
}

/* ------------------ MODAL ---------------------- */
/* Cadastrar Modal*/
[for="plataformas"] {
  margin-right: 0.5rem;
}

#cadastrarModal .modal-content{
    background-color: #FAFAFA;
  width: 35rem;
}

#cadastrarjogo {
    width: 333px;
    height: 137px; 
}


/* ------------------------ NOTIFICATION --------------------*/
.notification{
  display: block!important;
  width: 30rem;
  z-index: 1056;
  overflow: hidden;
  animation: fade-in 0.3s forwards, slide-down 0.3s forwards;
}

.notification .error{
  color: crimson;
 background-color: rgb(255, 212, 212);
}
.notification .success{
  color: darkgreen;
  background-color: rgb(220, 255, 215);
 }
 
.notification.vanish {
  opacity: 0;
  max-height: 0;
  transition: opacity 0.3s, max-height 0.3s;
}

